/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cell-size: 80px;
  --horizontal-gap: 8px;
  --vertical-gap: 15px;
}

@font-face {
  font-family: 'Gloria Hallelujah';
  src: url('/fonts/GloriaHallelujah.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
:root { 
  --background: #f6eb9f;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gloria Hallelujah', cursive;
}
.navbar{
  background-color: #8B4513;
  color: #f6eb9f;
  width: 100%;
  height: auto;
  padding: 5px 0;
}
.navbar-list{
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  align-items: center;
  text-align: center;
}

.sunflower{
  width: 20%;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 0;
}
.sunflower-img{
  background-color: transparent;
}

.container{
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.container-text{
  display:grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  justify-content: center;
}
img:hover {
  -moz-transform: scale(1.06);
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);
}
img{-webkit-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}

.shared-hover-effect:hover{
  background-color: #FFC300;
  color:#138b45;
}

.shared-hover-effect:hover .container-text{
  background-color: #f6eb9f;
  color:#171717;
}

.shared-hover-effect:hover .sydney{
  color:#FFC300;
  background-color:#8B4513;
  font-size: larger;
}

.title:hover{
  transform: scale(1.1);
}

.welcome-text{
  width: 220px;
  height: 30px
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 0;
  margin: 0 auto;
  width: 80%;
}

.timeline-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  background: black; 
  transform: translateX(-50%);
  z-index: 1;
}


.timeline-item {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 20px 0;
  width: 50%;
  padding: 10px;
  z-index: 2;
}

.timeline-item.right {
  justify-content: flex-start;
  margin-left: 50%; 
}

.timeline-content {
  background: linear-gradient(to right, #f4d536, #ad3b25);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
}

.timeline-item.right .timeline-content {
  background: linear-gradient(to right,#D4FC79, #96E6A1);
}

.timeline-content h4 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.timeline-content p {
  margin: 10px 0;
}

.badge {
  background: #fff;
  color: #000;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  display: inline-block;
}


@media (max-width: 768px) {
  .timeline-item {
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }

  .timeline-container::before {
    left: 10px;
  }

  .timeline-item.right {
    margin-left: 0;
  }
}

.wordleItem{
  border: solid #8B4513 2px;
  box-sizing: border-box;  
  height: var(--cell-size);
  width: var(--cell-size);
  text-align: center;
  background-color: #ffffffae;
  align-items: center;    
  justify-content: center;
  font-size: x-large;
  
}

.font{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.wordleRow{
  display: flex;
  flex-direction: row;
  gap: var(--horizontal-gap);

}

.wordle{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: var(--vertical-gap);
}

.congrats{
  background-color: #8B4513;
  border-radius: 20%;
  color: #95f475
}

.notcongrats{
  background-color: black;
  border-radius: 20%;
  color: #dadada;
}

.msg{
  position: fixed;
  top: 10%;
  font-size: x-large;
}

.wordleContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;    
  justify-content: center;

}

.play{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  width: 30%;
  text-align: center;
  color: #ad3b25;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.welcome-wordle{
  font-size: xxx-large;
  color: #5d2e0d;
}

.playButton{
  border-radius: 20%;
  background-color: #ad3b25;
  color: #f6eb9f;
  font-size: xx-large;
  width: 50%;
}