/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gloria Hallelujah';
  src: url('/fonts/GloriaHallelujah.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
:root { 
  --background: #f6eb9f;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gloria Hallelujah', cursive;
}
.navbar{
  background-color: #8B4513;
  color: #f6eb9f;
  width: 100%;
  height: auto;
  padding: 5px 0;
}
.navbar-list{
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  align-items: center;
  text-align: center;
}

.sunflower{
  width: 20%;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 0;
}
.sunflower-img{
  background-color: transparent;
}

.container{
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  

}

img:hover {
  -moz-transform: scale(1.06);
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);
}
img{-webkit-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}

.shared-hover-effect:hover{
  background-color: #FFC300;
  color:#138b45;
}
.shared-hover-effect:hover .sydney{
  color:#FFC300;
  background-color:#8B4513;
  font-size: larger;
}

.title:hover{
  transform: scale(1.1);
}

.title{
  width: 200px;
  height: 30px;
}